<footer class="footer">
  <small>
    A Sample Issue Tracker by <a href=" https://github.com/shivang2056yadav">Shivang Yadav</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>